[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = {extras = ["atari"]}
pyzmq = "*"
baselines = "*"
protobuf = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
